<div class="container border border-dark rounded">
  <h1>Editing Bug</h1>

    <%= render 'form', bug:@bug %>

  <%= link_to button_tag('Back', :class => "btn btn-primary"), project_bug_path(@bug.project.id,@bug.id) %> <br><br>
</div>  