<div class="container">
	<% if @bug.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

          <ul>
            <% @bug.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
  <h1>New Bug</h1>

	<%= render 'form', bug: @bug %>


	<%= link_to button_tag('Back', :class=>"btn btn-primary"), project_path(@bug.project.id) %>
</div>